@import './colors.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.side-bar-shadow {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: -47.44%;
    width: 220px;
    height: 2315px;

    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

    .side-bar {
        width: inherit;
        min-height: 500px;

        .top {
            height: 68px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: $df-color;

            .rectangle > h2 {
                font-size: 30px;
                color: $white-df;
                font-weight: 700;
            }
        }

        .logo {
            height: 235px;
            background-image: url('../img/dewey4.png');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 10px;
        }

        .menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 25px;
            
            ul > li {
                padding-left: 10px;
                padding-bottom: 7px;
                padding-top: 7px;
                border-bottom: 1px solid rgba(235, 235, 235, 0.95);
                
                a {
                    color: $ft-color;
                    font-weight: 600;
                }

                &:hover, .active{
                    background-color: $hover-df;
                    border-left: 5px solid #EE7A3A;
                    transition: 300ms;
                }
            }
        }
    }
}

.content {
    display: flex;
    justify-content: center;

    header {
        display: flex;
        position: absolute;
        justify-content: flex-start;
        align-items: center;
        left: 220px;
        top: 0;
        width: 1146px;
        height: 68px;
        background-color: $hd-color;
        
        .video-info {
            margin: auto 30px;
            max-height: 68px;
            
            .title {
                font-size: 20px;
                font-weight: 300;
            }
            .subj {
                font-size: 12px;
            }
            .issn {
                font-size: 12px;
            }
        }

        .lang-pick > select {
            box-sizing: border-box;

            position: absolute;
            width: 90px;
            height: 34px;
            left: 789px;
            top: 17px;
            
            background: transparent;
            border: 1px solid #CCCCCC;
            border-radius: 3px;
        }

        .login > .sec1 {
            display: flex;
            flex-direction: column;
            justify-content: end;
        }
    }
}